pre.programlisting {
	background-color: #F4F4F4;
	padding: 6px;
}

table {
	border: 1px;
}
table pre.programlisting {
	background-color: #FFFFFF;
}

div.book div.titlepage {
	border-top: 12px solid #BBBBBB;
	border-left: 12px solid #DDDDDD;
	border-right: 12px solid #DDDDDD;
	border-bottom: 12px solid #F3F3F3;
	background-color: #FFFFBB;
	color: #000066;
	padding-left: 12px;
	padding-right: 12px;
}

table.copyright {
	font-style: italic;
	font-size: 11;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	background-color: #FFFFBB;
	align: right;
}

.navheader {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	background-color: #FFFFBB;
	font-size: 12;
}

.navfooter {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	font-size: 12;
}

div.toc span.part {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20;
	margin-top: 1in;
}
div.toc span.glossary {
	font-weight: bold;
}
div.toc span.index {
	font-weight: bold;
}
div.toc span.preface {
	font-weight: bold;
}
div.toc span.appendix {
	font-weight: bold;
}
div.toc span.chapter {
	font-weight: bold;
}

h1, h2, h3, h4 {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	font-weight: bold;
}

div.book div.titlepage h1.title {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 36;
}

div.book div.titlepage h3.author {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24;
}

div.book div.titlepage p.edition {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	color: gray;
	font-weight: bold;
	font-size: 30;
}
span.lineannotation {
    font-family: serif;
    font-style: italic;
}

